
    <p></p>
    <h2 class="ui header">{{club}}</h2>
    <div class="ui horizontal list">
        <div class="item" >
            <img src="/templates/images/avatar2/small/elyse.png" class="ui mini circular image">
            <div class="content">
                <div class="ui sub header">{{nickname}}</div>
            </div>
        </div>
    </div>
    <h4 class="ui horizontal divider blue header">
        Now
    </h4>
    <div class="ui items" >
        <div class="item" >
            <div class="content" >
                <div class="header"><h1>{{now.title}}</h1></div>
                <div class="meta"><i class="browser icon"></i> {{now.album}}</div>
                <div class="meta"><i class="user icon"></i> {{now.artist}}</div>
                <div class="meta"><i class="sound icon"></i> {{now.length}}</div>
                <div class="meta"><i class="heartbeat icon"></i> {{now.bitrate}}</div>
            </div>
        </div>
    </div>

    <h4 class="ui horizontal divider header">
        Next
    </h4>

    <div class="ui divided items" >
        <div class="item" *ngFor="#el of list; #idx = index">
             <div class="middle aligned content">
                <div class="ui grey header">{{el.title}}</div>
                <div class="meta">
                    <i class="user icon"></i> {{el.artist}}
                    <i class="sound icon"></i> {{el.length}}
                </div>
            </div>
        </div>
    </div>
