
<div class="ui container">
    <h1>{{club}}</h1>
    <h2>{{nickname}}</h2>
    
    <div class="ui cards">
        
        <div class="card " *ngFor="#el of list; #idx  = index">
            <div class="content">
                <div class="header">{{el.title}}</div>
                <div class="meta"><i class="browser icon"></i> {{el.album}}</div>
                <div class="meta"><i class="user icon"></i> {{el.artist}}</div>
                <div class="meta"><i class="sound icon"></i> {{el.length}}</div>
            </div>
        </div>

    </div>
</div>
